@page "/CVAspirante"
@inject HttpClient client

<!DOCTYPE html>
<head>
    <PageTitle>Sube tu CV</PageTitle>
    <script src="https://kit.fontawesome.com/92ef3b4f9e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="pantalla-web">
        
        <div class="frame">
            <div class="div">
                <div class="text-wrapper">APTITUDES</div>
                <div class="form-floating">
                    <textarea class="form-control " placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Descripción</label>
                </div>
            </div>
            <div class="frame-2">
                <div class="text-wrapper-3">DIPLOMAS</div>
                <div class="form-floating">
                    <textarea class="form-control " placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Descripción</label>
                </div>
            </div>
        </div>
        <div class="frame-3">
            <div class="overlap">
                <div class="frame-4">
                    <div class="frame-5">
                        <div class="frame-wrapper">
                            <div class="frame-6">
                                <div class="overlap-group">
                                    <div class="frame-7">
                                        <i class="fa-solid fa-flag"></i>
                                        <select class="form-select" aria-label="Default select example" name="pais">
                                            <option data-thumbnail="flags/mx.svg">México</option>
                            <option data-thumbnail="flags/es.svg">España</option>
                                        </select>

                                    </div>
                                    <div class="frame-8">
                                        <i class="fa-solid fa-cake-candles" style="color: #162032;"></i>
                                        <div class="mb-3">
                                            <input type="date" class="form-control"/> 
                                            <!--<input type="dot" class="form-control" id="exampleFormControlInput1" placeholder="Fecha Nacimiento">-->
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-10">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <div class="mb-3">
                                        <input type="dot" class="form-control" id="exampleFormControlInput1" placeholder="Dirección">
                                    </div>
                                </div>
                                <div class="frame-11">
                                    <i class="fa-solid fa-phone"></i>
                                    <div class="mb-3">
                                        <input type="phone" class="form-control" id="exampleFormControlInput1" placeholder="Telefono">
                                    </div>
                                </div>
                                <div class="frame-12">
                                    <i class="fa-solid fa-at"></i>
                                    <div class="mb-3">
                                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="frame-13">
                            <div class="text-wrapper-9">RESUMEN PROFESIONAL</div>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                                <label for="floatingTextarea">Descripción</label>
                            </div>
                            <img class="vector" src="Vector_1.png" />
                        </div>
                    </div>
                    <div class="frame-14">
                        <p class="HISTORIAL-LABORAL">
                            <span class="span">HISTORIAL LABORAL</span>

                        </p>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                            <label for="floatingTextarea">Descripción</label>
                        </div>
                        <img class="vector-2" src="Vector_1.png" />
                    </div>
                    <div class="frame-15">
                        <div class="text-wrapper-13">FORMACIÓN</div>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                            <label for="floatingTextarea">Descripción</label>
                        </div>
                    </div>
                </div>
                <img class="vector-3" src="Vector_1.png" />
            </div>
            <div class="b-OTON">
                <div class="component"><div class="text-wrapper-15">GUARDAR Y CONTINUAR</div></div>
            </div>
            <p class="nombre"><span class="text-wrapper-16">No</span> <span class="text-wrapper-17">Nombre</span></p>
        </div>
        <div class="FOTO">

            <div class="overlap-2">
                <div class="ellipse"></div>
                <div class="rectangle-2"></div>
                <div class="ellipse-2"></div>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Sube tu foto </label>
                <input class="form-control form-control-sm" id="formFileSm" type="file">
            </div>
        </div>
    </div>
</body>

@code {

}
